@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --sb-track-color: #242424;
  --sb-thumb-color: #424242;
  --sb-size: 12px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: var(--sb-size);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: var(--sb-size);
}

@supports not (selector(::-webkit-scrollbar)) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
